<% if users %>
	<div class="tweets tweets_list">
		<% users.each do |user| %>
	    <%= render 'search/user', user: user %>
	  <% end %>
	</div>
<% else %>
	<h4><center>No results founded</center></h4>
<% end %>