<div class="container" id="wrapper">
	<div class="row">
		<div class="col-lg-9" id="content">
			<h3>Results</h3>
      <%= render 'search/listing', users: @users %>
		</div>
		<div class="col-lg-3" id="sidebar">
      <%= render 'users/info', user: current_user %>
    </div>
	</div>
</div>