<table class="table table-hover">
		<caption><h3><%= caption %></h3></caption>
    <% if @tweets %>
			<% @tweets.each do |t| %>
	      <tbody>
	          <tr>
	            <td>
	            	<%= render 'tweets/tweet', tweet: t %>
							</td>
	          </tr>
	      </tbody>
		  <% end %>
		<% end %>
</table>