<div class="media">
  <a class="pull-left">
    <img src=<%= tweet.user.avatar.thumb.url %> alt=<%= tweet.user.name %>>
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= tweet.user.name %></h4>
    <p><%= "#{ tweet.content }" %></p>
	</div>	
</div>