$('#tweets').find('#tweet-<%= @tweet.id %>').remove();
var tweets_count = parseInt($('#tweets-count').text(), 10) - 1;
$('#tweets-count').replaceWith('<span id="tweets-count">' + tweets_count + '</span>');