<div class="media" id="info-profile">
  <a class="pull-left">
    <img src=<%= @user.avatar.thumb.url %> alt=<%= @user.name %>>
  </a>
  <div class="media-body">
  	<h2 class="media-heading"><strong><%= @user.username %></strong></h2>
  	<!-- <span class="label label-info">You</span> -->
	</div>	
</div>