<div class="media">
  <div class="media-body">
  	<h4 class="media-heading"><%= "#{ tweet.content }" %></h4>
  	<i><small><%= tweet.created_at.to_s(:tweet) %></small></i>
		<small>Delete</small>
	</div>	
</div>