<div class="container" id="wrapper">
  <div class="row">
    <div class="col-sm-9" id="content">
      <div class="arrow arrow-top"></div>
      <center><h3>That page doesn't exist! :(</h3></center>
      <div class="error-image"></div>
    </div>
    <div class="col-sm-3" id="sidebar">
      <%= render 'welcome/info' %>
      <%= render 'welcome/form_search' %>
    </div>
  </div> 
</div>

