<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <h2>What are you doing? :) <h4 align='right' id='counter_text'>140</h4></h2>
      <div class="input-group">
        <%= render 'form_tweet' %>
      </div>
      <%= render 'tweets/listing' %>
    </div>
    <div class="col-lg-3">
      <%= render 'welcome/info' %>
    </div>
  </div> 
</div>

    