<div class="media">
	<a class="pull-left">
		<img src=<%= follower.avatar.thumb.url %> alt=<%= follower.username %>>
	</a>
	<div class="media-body">
    <p>
      <strong><%= follower.username %></strong>
    </p>
    <small><%= follower.name %></small>
	</div>
</div>