// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#info-profile {
	padding-top: 15px;
	padding-bottom: 30px;
}

#info {
	padding-top: 15px;
}