// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.actions {
	margin-bottom: 20px;
}

#user_info {
	padding-top: 15px;
}

#wrapper {
	background: #67CBF7;
}

#content {
	min-height: 500px;
	padding-bottom: 15px;
	background: #FFFFFF;
}

#sidebar {
	a {
		color: #00688B;
	}
}