// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.actions {
	margin-bottom: 20px;
}

#user_info {
	margin-top: 15px;
}

#wrapper {
	background: #67CBF7;
}

#sidebar {
	a {
		color: #00688B;
	}
}