<div class="media">
	<a class="pull-left">
		<img src=<%= user.avatar.thumb.url %> alt=<%= user.username %>>
	</a>
	<div class="media-body">
    <p>
      <strong><%= user.username %></strong>
    </p>
    <small><%= user.name %></small>
	</div>
</div>