<strong>Name </strong><%= current_user.name %> <br>
<strong>Tweets </strong><%= "#{current_user.tweets.count}" %>
<h4><%= "#{current_user.following.count} following" %></h4>
<h4><%= "#{current_user.followers.count} followers" %></h4>