<div class="media info-profile">
  <a class="pull-left">
    <img src=<%= current_user.avatar.thumb.url %> alt=<%= current_user.name %>>
  </a>
  <div class="media-body">
  	<h2 class="media-heading"><strong><%= current_user.username %></strong></h2>
  	<span class="label label-info">You</span>
	</div>	
</div>