<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<%= render 'profile/info_profile' %>
	    <%= render 'profile/listing' %>
		</div>
		<div class="col-lg-3">
			<%= render 'profile/info' %>
		</div>
	</div>
</div>
